<%- include('partials/header', { title }) %>

<div class="container">
  <h2>Nueva factura</h2>

  <% if (typeof err !== 'undefined') { %>
    <div class="alert danger"><%= err %></div>
  <% } %>

  <form method="POST">
    <label>Número factura</label>
    <input name="numero" required>

    <label>Fecha</label>
    <input type="date" name="fecha" required>

    <label>Proveedor</label>
    <input name="proveedor" required>

    <label>CEDIS</label>
    <input name="cedis" required>

    <button class="btn btn-primary">Guardar factura</button>
  </form>
</div>

<%- include('partials/footer') %>
