<%- include('partials/header', { title }) %>

<div class="container">
  <h2>Nueva factura</h2>

  <form>
    <label>Proveedor</label><br>
    <input type="text"><br><br>

    <label>Fecha</label><br>
    <input type="date"><br><br>

    <button>Guardar factura</button>
  </form>
</div>

</body>
</html>
