body {
  background-color: #f5f5f5;
}

main.container {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

table td,
table th {
  vertical-align: middle;
}
